{% extends 'layout/app.html' %}
{% block body %}
    <div class="container">
      <div class="page-header">
          <h1>{{ titulo }}</h1>
      </div>
      <form action="{{url_for('analyse')}}" method="POST" enctype="multipart/form-data" class="flex justify-content-center row">
        <fieldset class="col-6">
          <div class="form-group">
            <label for="video">Link do Video <span class="text-danger">*</span> </label>
            <input type="text" id="video" name="video" class="form-control mt-1" value="{{link}}">
          </div>
          <div class="form-group mt-3">
            <label for="word">Palavra</label>
            <input type="text" id="word" name="word" class="form-control mt-1" value="{{word}}">
          </div>
          <div class="text-center mt-4 col-12">
            <button type="submit" name="analyse" value="analyse" class="btn btn-primary mt-1">Analisar Sentimento</button>
            <button type="submit" name="search" value="search" class="btn btn-secondary mt-1">Pesquisar Frequência de Palavra</button>
          </div>
          <div class="text-center mt-4" id="loading"></div>
        </fieldset>
      </form>

      <div class="mt-4 flex-column align-items-center justify-content-center row" id="result">
        {% if result != "" %}
            <h2 class="text-center mt-4">Resultado</h2>
            <ul class="list-group col-6 mt-4">
            {% for key, value in result.items() %}
                  <li class="list-group-item"><b>{{ key }}</b>: {{ value }}</li>
            {% endfor %}
            </ul>

            {% if comments_result != "" %}
                <div class="col-6 mt-4 d-flex flex-column align-items-center mb-4">
                     <b>Comentários que contém essa palavra:</b>
                     <ul class="list-group mt-2" style="max-height: 400px; overflow-y:scroll;">
                     {% for value in comments_result %}
                           <li class="list-group-item">{{ value }}</li>
                     {% endfor %}
                     </ul>

                </div>
            {% endif %}
        {% endif %}
      </div>
    </div>
{% endblock %}
